<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Начинай карьеру с ITEA</title>
</head>
<body>

<table width="630" align="center" bgcolor="">
    <tbody><tr>
        <td colspan="2">
            <img src="http://cloud.feedgee.com/storage/usr/307528ac-1104-4a98-bdfc-43ca1a954f56/img/logo.png" alt="our beautiful logo">
        </td>
    </tr></tbody>
</table>
<table align="center" bgcolor="white" width="630">
    <tbody><tr>
        <td>
            <img src="http://cloud.feedgee.com/storage/usr/307528ac-1104-4a98-bdfc-43ca1a954f56/img/start-career-with-itea.png" alt="join us">
        </td>
    </tr>
    <tr>
        <td>
            <table width="600" align="center" bgcolor="white" cellpadding="20">
                <tbody><tr>
                    <td style="text-align: justify; color: #263d54; font-family: Arial;font-size: 14px;line-height: 24px;font-weight: 400;">
                        <h3>Поздравляем, резюме успешно создано.</h3>