                    </td>
                </tr></tbody>
            </table>
        </td>
    </tr></tbody>
</table>

<table width="630" align="center" bgcolor="white">
    <tbody><tr>
        <td>
            <table width="600" align="center" bgcolor="white" cellpadding="20">
                <tbody><tr>
                    <td style="color: #263d54; font-family: Arial; font-size: 14px;font-weight: 400;">
                        Ваше резюме уже в базе данных ITEA и обрабатывается нашими менеджерами.
                    </td>
                </tr></tbody>
            </table>
        </td>
    </tr></tbody>
</table>

<table width="560" align="center" style="border-bottom: 1px solid #bdbcbc;">

</table>
<table width="600" cellpadding="20" align="center">
    <tbody><tr>
        <td style="color: #263d54; font-family: Arial;font-size: 14px;font-weight: 400;line-height: 20px;">
            С уважением,<br>Команда IT Education Academy (ITEA)
        </td>
    </tr></tbody>
</table>
<table width="600" cellpadding="10" align="center">
    <tbody><tr>
        <td>
            <a href="https://twitter.com/ITEAua" target="_blank"><img src="http://cloud.feedgee.com/storage/usr/307528ac-1104-4a98-bdfc-43ca1a954f56/img/_tw.png" alt="twitter"></a>
        </td>
        <td>
            <a href="https://www.facebook.com/ITEAUA/" target="_blank"><img src="http://cloud.feedgee.com/storage/usr/307528ac-1104-4a98-bdfc-43ca1a954f56/img/_fb.png" alt="facebook"></a>
        </td>
        <td>
            <a href="https://plus.google.com/115862013780160695262" target="_blank"><img src="http://cloud.feedgee.com/storage/usr/307528ac-1104-4a98-bdfc-43ca1a954f56/img/_g.png" alt="google+"></a>
        </td>
        <td>
            <a href="https://www.linkedin.com/company/iteaua/" target="_blank"><img src="http://cloud.feedgee.com/storage/usr/307528ac-1104-4a98-bdfc-43ca1a954f56/img/_in.png" alt="linkedIn"></a>
        </td>
    </tr></tbody>
</table>
<table width="600" cellpadding="10" align="center">
    <tbody><tr>
        <td>
            <img src="https://cloud.feedgee.com/storage/usr/307528ac-1104-4a98-bdfc-43ca1a954f56/img/logo-2.png">
        </td>
        <td style="color: #263d54;font-family: Arial;font-size: 13px;font-weight: 700;line-height: 20px;text-align: right">
            Если остались вопросы - звони:
            <span style="display: block; color: #ed1c24; font-size: 18px;font-weight: 700;">
                (044) 599-01-79
            </span>
        </td>
    </tr></tbody>
</table>
<table width="630" align="center">
    <tbody><tr><td>
        <span style="width: 630px;height: 40px;background-color: #ed1c24; display: block; line-height:40px;color: #fefefe;font-family: Arial;font-size: 18px;font-weight: 700; text-align: center">
            <a href="#" style="display: block; line-height:40px;color: #fefefe;font-family: Arial;font-size: 18px;font-weight: 700; text-decoration: none" target="_blank">
                itea.ua
            </a>
        </span>
    </td></tr></tbody>
</table>
</body>
</html>