body{
    background: url("../images/new_year_prom_page_bg.png") fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    color: #fff;
    margin: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
header{
    padding: 121px 0 20px 0;
}
input{
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    border: 0;
    outline: none;
    transition:all 0.3s 0s ease-in-out;
    text-align: left;

    border-bottom: 1px solid #ebebeb;
    color: #010101;
    font-family: 'HelveticaNeueCyr-Roman', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-left: 6px;

}
input[type=phone] {

}
input::-moz-placeholder {
    color: #010101;
}

input::-webkit-input-placeholder {
    color: #010101;
}
input:first-child{
    margin: 0 0 20px 0;
}
input[type="submit"]{
    cursor:pointer;
    width: 336px;
    height: 55px;
    background-color: #e2121a;
    color: #ffffff;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 0;
    border: none;
    line-height: 56px;
    position: relative;
}

input[type="email"] {
    border-radius: 0;

}
input[type="submit"]:hover{
    background-color: #ff0000;
    border-bottom: none;
}
input:last-child{
    margin: 20px 0 0 0;
    padding: 0;
}
input:focus,select:focus{
    border-bottom: 1px solid #363636;
}
input[type="submit"]:focus {
    border-bottom: none;
}
input.error, select.error{
    border-bottom: 1px solid #ff0000;
}
.centred{
    width: 504px;
    text-align: left;
}
.apply-form-link{
    display: block;
    margin: auto;
    width: 253px;
    height: 85px;
    margin-left: 0;
    margin-bottom: 61px;
}
.apply-form-link img {
    width: 253px;
    height: 85px;
}
#main-form{
    width: 459px;
    height: auto;
    box-shadow: 3px 2px 47px 2px rgba(34, 33, 34, 0.16);
    background-color: #ffffff;
    margin-right: -76px;

    margin-top: 74px;
}
.user-data-form {
    width: 336px;
    margin: 61px auto;
}
#main-form p{
    color: #445064;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height:40px;
}
label{
    display: block;
    font-size: 14px;
    overflow: hidden;
    margin: 5px 0;
}
h1{
    color: #ffffff;
    font-family: 'helveticaneuecyr-black', sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 1.34px;
    margin-bottom: 21px;
    margin-top: 0;
}
h2{
    color: #000000;
    font-family: 'HelveticaNeueCyr-Roman', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
}
input[type="radio"]{
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
input[type="radio"]:focus{
    box-shadow: none !important;
}
select{
    width: 100%;
    height: 50px;
    box-sizing:border-box;
    outline: none;
    background: url(../images/reg_consultation/dropdown.png) no-repeat center right 30px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 20px;

    border: 1px solid #ededed;
    background-color: #231c47;
}
.choose-el {
    width: 557px;
    height: 236px;
    border-radius: 25px;
    border: 2px solid #ededed;
    background-image: linear-gradient(45deg, #b1bfde 0%, #e1e1ff 100%);
    opacity: 0.15;
}
.active-arrow{
    background: url(../images/reg_consultation/ar-up.png) no-repeat center right 30px;
}
select:hover{
    opacity: .8;
}
@media screen and (max-width:768px){
    .centred{
        width:100%;
    }
}
@media screen and (max-width:480px){
    select{
        background: url(../images/reg_consultation/ar-down.png) no-repeat center right 12px;
        padding-left: 6%;
    }
    #main-form{
        /*padding: 10px 10px 40px 10px;*/
    }
}
.form-validation {
    display: none;

    text-align: left;
    margin-top: 34px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.18px;
    position: relative;
    padding-left: 15px;
}
.form-validation:before{
    content: '*';
    color: red;
    position: absolute;
    left: 0;
}
.form-alert__share{
    display: none;
    text-align: center;
    margin-top: 34px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.18px;
    position: relative;
}
.form-alert__share:before{
    content: '*';
    color: red;
}
.alert-share_visible{
    display: block;
}
.form-validation__course {
    margin: 10px 0  ;
}

/* loading screen locker { */

#loading {
    align-items: center;
    background: #ccc;
    display: none;
    left: 0;
    top: 0;
    justify-content: center;
    opacity: 0.4;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000;
}

#loading.active {
    display: flex;
}

#loading-animation {
    width: 200px;
    height: 200px;
    background: url('../images/img/loading_spinner.gif') 0 0 no-repeat content-box;
    background-size: 200px;
}

/* loading screen locker } */

#main-form .underform-paragraph, p {
    color: #ffffff;
    font-family: 'HelveticaNeueCyr-Roman', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 30.27px;
    margin: 0;
    letter-spacing: 0.18px;
}

.validation-error {
    display: block;
    color: black;
}

.input-error {
    border-bottom: 1px solid #ff0000;
}

.submit-error {
    /*background: red !important;*/
    /*background-image: none;*
   /
     */
    border-bottom: 1px solid #ff0000;
}

@media screen and (max-width: 768px) {
    form {
        width: 90%;
        margin: 0 auto;
    }
    header {
        padding: 20px 0;
    }
}

.course-select {
    border-radius: 0;
    border-bottom: 1px solid #ebebeb;
    padding-left: 6px;
    height: auto;
}
.header-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}
.course-select .header-select:after {
    /*content: url() no-repeat center right 18px;*/
    content: url("../images/dropdown-gray.png");
    background-repeat: no-repeat;
    background-position: center;
}
.course-select.active .header-select:after {
    transform: rotate(180deg);
}
.course-select h2 {
    color: #000000;
    /*font-family: "Helvetica Neue Cyr - Roman";*/
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;


}
.course-select ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.course-select ul li {
    color: #000000;
    font-family: 'helveticaneuecyr-roman', Sans-Serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.15px;
    cursor: pointer;
    margin: 15px 0;
}
.course-select ul li:hover {
    color: #0041e5;
}
.flex-blocks {
    display: flex;
    justify-content: space-around;
    width: 349px;
    height: 0;
    background-color: #ffffff;
    margin-left: -67px;
    opacity: 0;
    padding: 0 55px;

    transition: height .5s, opacity .5s, visibility .5s;
    /*padding: 0 27px;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*height: 0;*/
    /*opacity: 0;*/
    /*transition: height .5s, opacity .5s, visibility .5s;*/

}

.course-select.active .flex-blocks {
    height: auto;
    opacity: 1;
}
.course-select.active {
    border-bottom: none;
}
#free-select {
    display: none;
}
/*.course-select.input-error .header-select {*/
    /*background: url(../images/reg_consultation/error.png) no-repeat center right 30px;*/
/*}*/

/*@media screen and (max-width: 540px) {*/
    /*body {*/
        /*background-color: #e2121a;*/
        /*background-image: none;*/
    /*}*/
/*}*/

.newyear-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper {
    width: 1063px;
    margin: 0 auto;
    padding: 159px 0;
}

@media screen and (max-width: 1254px) {
    .newyear-form {
        flex-direction: column;
        justify-content: center;
    }
    /*.wrapper {*/
        /*width: 100%;*/
        /*padding: 0;*/
    /*}*/
    #main-form {
        margin-right: 37px;
    }
}
@media screen and (max-width: 1254px) and (min-width: 768px) {
    .wrapper {
        width: 90%;
    }
}
/*/TABLET/*/
@media screen and (max-width: 768px) {
    .newyear {
        width: 100%;
    }
    .wrapper {
        width: 451px;
        margin: 0 auto;
        padding: 0;
    }
    .newyear-form {
        align-items: flex-start;
        margin: 96px 0;
    }
    .centred {
        padding: 0;
        width: 454px;
    }
    .apply-form-link img {
        width: 227px;
        height: 76px;
    }
    .apply-form-link {
        margin: 0 0 55px 0;
    }
    h1 {
        font-size: 65px;
        line-height: 80.84px;
    }
    #main-form .underform-paragraph, p {
        font-size: 17px;
    }
    #main-form {
        margin-top: 77px;
        width: 450px;
    }
    .course-select h2 {
        margin: 24px 0;
    }
    .course-select.active .flex-blocks {
            margin-left: -62px;
            width: 339px;
            padding: 0 49px;
    }

}
@media screen and (max-width: 540px) {
    .wrapper {
        width: 288px;
    }
    .newyear-form {
        margin: 28px 0;
    }
    .centred {
        width: 100%;
    }
    .apply-form-link {
        margin-bottom: 20px;
    }
    .apply-form-link img {
        width: 128px;
        height: 43px;
    }
    #main-form {
        width: 287px;
        height: auto;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;

    }
    #main-form .underform-paragraph, p {
        font-size: 11px;
        line-height: 16.09px;
    }
    input {
        width: 210px;
        font-size: 11px;
        height: 42px;
        margin-bottom: 0;
    }
    h1 {
        font-size: 41px;
        margin-bottom: 11px;
        line-height: 51.16px;
    }
    .course-select h2 {
        font-size: 11px;
    }
    .user-data-form {
        width: 226px;
        padding: 30px;
        margin: 0;
    }
    .course-select {
        width: 210px;
    }
    input[type="submit"] {
        width: 196px;
        height: 41px;
        font-size: 11px;
        line-height: 41px;
        margin: 19px auto 0 auto;
    }
    .course-select .header-select:after {
        content: url("../images/dropdown-gray-light.png");
    }
    .course-select.active .flex-blocks {
        margin-left: -33px;
        width: 253px;
        padding: 0 15px;
    }
    .course-select ul li {
        font-size: 11px;
    }
    body {
        overflow-x: hidden;
    }
    .course-select.active .header-select {
        align-items: center;
    }
}
@media screen and (max-width: 531px) {
    .flex-blocks {
        margin-left: -21px;
        width: 100%;
        padding: 0 17px;
    }
}


/* NEW LINK */
.more-block {
    /*width: 190px;*/
    /*margin: 31px auto 0;*/
    /*border-bottom: 1px dashed #d7d7d7;*/
    width: 100%;
    padding: 31px 0 0;
    text-align: center;
    z-index: 555555;
    position: relative;
}

.know-more {
    color: #bcbcbc;
    font-family: 'HelveticaNeueCyr-Roman', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px dashed #d7d7d7;
}
.know-more:hover {
    color: #919191;
    border-bottom: 1px dashed #919191;
}
@media screen and (max-width: 540px){
    .know-more {
        font-size: 11px;
        letter-spacing: 0.11px;
    }
}